# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/clientSide/node_modules
/server/node_modules

/clientSide//.pnp
/clientSide/.pnp.js

# testing
/clientSide//coverage

# production
/clientSide//build

# misc
/clientSide/.DS_Store
/clientSide/.env.local
/clientSide/.env.development.local
/clientSide/.env.test.local
/clientSide/.env.production.local

/clientSide/npm-debug.log*
/clientSide/yarn-debug.log*
/clientSide/yarn-error.log*

